/*style del body*/

body{
    margin-top: 15px;
    background-color: #2b2d42;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

/*style che riguarda i pulsanti alla fine della pagina*/
#home,#state,#restart,#music{
    width: 30px;
    cursor: pointer;
}

/*------------------------------------STYLE RIGUARDANTE IL GIOCO------------------------------------*/
/*style del wrapper della mappa di gioco*/
#messaggio{
    color: black;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 56px;
    width: 35vmin;
    height: 20vmin;
    background-color: rgba(0, 0, 0, 0.5); /* Opacità 50% */
    z-index: 9999; /* Assicura che il div si sovrapponga ad altri elementi */
    display: none; /* Inizialmente nascosto */
    background-image: url("../../images/snake/brawl.JPEG");
    background-repeat: no-repeat;
    background-size: cover;

}

.gioco{
    margin-top: -130px;
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background-color:rgb(51, 143, 185);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vmin;
    height: 70vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    margin-top: -50px;
}

.head{
    background-color: #2e7a3ff5;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
}

.snake{
    background-color: #2e7a3ff5;
    border: 3px solid black;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;}

.food{
    background-color: #C73A4C;
    border: 3px solid black;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
}

.visuaPunteggio{
    margin-top: -145px;
    margin-bottom:15px;
    color: white;
    text-align: center;
    font-size: 25px;
}


.loading-container {
    width: 100%;
    height: 100%;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loading-bar {
    width: 20%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
}
  
.loading-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
    animation: progress 2s ease-in-out forwards;
    border-radius: 10px;
}
  
.loading-text {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
  
.loading-image {
    position: absolute;
    top: -30%;
    left: 0;
    height: 40px;
    background-image: url('../../images/common/mario.gif');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    animation: progress 2s ease-in-out forwards;
}
  
@keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
}